/* CLEAN LINES THEME STYLESHEET */

/* set the font-family for all elements */
p, ol, ul { font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* set the font-size for general elements */
p, ol, ul { font-size: 18px;}

/* set the font-size for headings */
h1 { font-size: 23px; }
h2 { font-size: 22px; }
h3 { font-size: 21px; }
h4 { font-size: 20px; }
h5 { font-size: 19px; }
h6 { font-size: 18px; }

/* styling code */
code, pre {
    font-size: 17px;
}